.pretty-scrollbar-y::-webkit-scrollbar {
    @apply w-3;
}

.pretty-scrollbar-x::-webkit-scrollbar {
    @apply h-3
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-black/20;
    border-radius   : 5px;
    box-shadow      : inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition      : all 4s ease;
}

.pretty-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-black/30;
}

.pretty-scrollbar::-webkit-scrollbar-track {
    @apply bg-black/10;
}
